<!-- this is the basic template for all the pages -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Get That Bread</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <!-- you can add header or navbar here if you want -->
    <main class="container"><%- body %></main>
    <!-- add footer here if needed -->
  </body>
</html>
