<!-- search results -->
<% layout('boilerplate') -%>
<!-- <% layout('boilerplate') -%> will include the boilerplate template to this page -->
<h1>Search results</h1>
<h2><%=job%> - <%=location%></h2>
<!-- average salary and statistics here -->
